@font-face {
    font-family: 'Cosi Times';
    src: url('../../fonts/CosiTimes-Expanded.eot');
    src: url('../../fonts/CosiTimes-Expanded.eot?#iefix') format('embedded-opentype'), url('../../fonts/CosiTimes-Expanded.woff2') format('woff2'), url('../../fonts/CosiTimes-Expanded.woff') format('woff'), url('../../fonts/CosiTimes-Expanded.ttf') format('truetype');
}

@font-face {
    font-family: 'Cosi Times';
    src: url('../../fonts/CosiTimes-Light.eot');
    src: url('../../fonts/CosiTimes-Light.eot?#iefix') format('embedded-opentype'), url('../../fonts/CosiTimes-Light.woff2') format('woff2'), url('../../fonts/CosiTimes-Light.woff') format('woff'), url('../../fonts/CosiTimes-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Freight Big Book';
    src: url('../../fonts/Freight-BigBook.eot');
    src: url('../../fonts/Freight-BigBook.eot?#iefix') format('embedded-opentype'), url('../../fonts/Freight-BigBook.woff2') format('woff2'), url('../../fonts/Freight-BigBook.woff') format('woff'), url('../../fonts/Freight-BigBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Swiss 721';
    src: url('../../fonts/Swiss721BT-LightExtended.eot');
    src: url('../../fonts/Swiss721BT-LightExtended.eot?#iefix') format('embedded-opentype'), url('../../fonts/Swiss721BT-LightExtended.woff2') format('woff2'), url('../../fonts/Swiss721BT-LightExtended.woff') format('woff'), url('../../fonts/Swiss721BT-LightExtended.ttf') format('truetype'), url('../../fonts/Swiss721BT-LightExtended.svg') format('svg');
}