body.home {
    margin: 0;
    height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
}

.hero-pre-heading {
    font-size: 0.8125rem;
    font-weight: 300;
    letter-spacing: 5px;
}

.hero-post-heading {
    font-size: 1.0625rem;
    font-weight: 300;
    letter-spacing: 5px;
}