body.nav-open {
    overflow: hidden;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbarHeight);
    background-color: white;
    padding: 10px 20px;
}

#navbar #btn-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#logo-head {
    font-size: 20px;
}

#logo-sub-head {
    font-size: 10px;
}

#nav-parent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
}

#nav-parent-inner {
    text-align: center;
}

#nav-parent.open {
    opacity: 1;
    pointer-events: all;
}

#btn-menu .exit,
body.nav-open .hamburger {
    display: none;
}

body.nav-open #navbar .exit {
    display: block;
}

#logo {
    display: none;
}

#nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
}

.nav .menu-item a {
    padding: 5px 0;
}

.nav ul.menu {
    font-family: 'Swiss 721';
}

#navbar .current-menu-item a{
    text-decoration: underline;
}

#navbar .nav .menu {
    Font-size: 18px;
    Line-height: 55px;
    Letter-spacing: 7px;
}

#logo-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a[href='#register'] {
    display: inline;
    background: linear-gradient(to right, #b67156 0%, #ffb27d 20%, #b67156 40%, #ffb27d 60%, #b67156 80%, #ffb27d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cosi Times';
    font-weight: 600;
    Font-size: 18px;
    Line-height: 50px;
    Letter-spacing: 5px;
}

@media (min-width: 1200px) {
    #navbar {
        --navbarHeight: 80px;
    }
    #btn-menu {
        display: none;
    }
    #nav-parent {
        height: var(--navbarHeight);
        pointer-events: all;
        opacity: 1;
    }
    #nav-parent-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .nav {
        flex: 1;
    }
    #logo {
        display: block;
        margin: 0px 35px;
    }
    #logo-head {
        font-size: 23px;
    }
    .nav ul.menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav ul.menu li {
        padding: 0 5px;
    }  
    #navbar .nav .menu {
        font-size: 12px;
        letter-spacing: 4px;
    }
    #logo-mobile {
        display: none;
    } 

}

/* Home navbar ------------------------------------------------------ */

body.home #navbar #logo-mobile {
    display: none;
}

body.home #nav-parent.open {
    background-color: white;
    color: black;
}

body.home #navbar, body.home #nav-parent, body.home #navbar {
    background-color: transparent;
}

body.home #btn-menu {
    color: white;
}

body.nav-open #btn-menu {
    color: black;
}

@media (min-width: 1200px) {
    body.home #nav-parent {
        border-bottom: 1px solid white;
    }
    body.home #navbar #nav-parent-inner {
        margin: 0 275px;
        color: white;
    }
    body.home #navbar nav ul li:first-child, body.home #navbar #logo {
        display: none;
    }
}

.wp-video-popup-close {
    background-image: url(../../img/close.png);
    background-size: unset;
}