:root {
    --navbarHeight: 75px;
    --primary: #FFB200;
    --secondary: #243c2d;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin-top: var(--navbarHeight);
    width: 100%;
    height: calc(100% - var(--navbarHeight));
}

section {
    --paddingY: 30px;
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
}

h1 {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 30px 0;
}

@media (min-width: 568px) {
    h1 {
        font-size: 4.75rem;
    }
}

h1, h2 {
    background: linear-gradient(to right, #b67156 0%, #ffb27d 20%, #b67156 40%, #ffb27d 60%, #b67156 80%, #ffb27d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 25px;
}

body {
    font-family: 'Cosi Times';
    letter-spacing: 2px;
    text-transform: uppercase;
}

section p a {
    color: inherit;
    text-decoration: underline;
}

section:last-of-type {
    padding-bottom: 150px;
}

@media (min-width: 1200px) {
    section {
        --paddingY: 60px;
    }
    
    h2 {
        margin-bottom: 50px;
    }
}