.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary);
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.thank-you p:not(:first-child) {
    margin-top: 40px;
}