.s-banner-video-wrapper {
    position: relative;
}

.s-banner-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.s-banner-play p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3125rem;
    text-shadow: 0 1px 8px #000;
}

.s-banner-video, .s-banner-image {
    object-fit: cover;
    width: 100%;
    height: 760px;
    max-height: calc(100vh - var(--navbarHeight));
}

.s-banner-video.active {
    object-fit: contain;
}

.s-banner-caption {
    font-size: 0.76rem;
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 1024px) {
    .s-banner-caption {
        text-align: left;
        margin-left: 30px;
    }
}