.s-column {
    --colPadding: 20px;
    display: flex;
    flex-direction: column;
}

.s-column-col:last-child {
    margin-top: 50px;
}

.s-column-col.text {
    padding-left: var(--colPadding);
    padding-right: var(--colPadding);
}

.s-column-col.text div {
    position: relative;
    font-size: 1.2rem;
}

.s-column-col.text.style-1 div::before {
    content: '"';
    position: absolute;
    top: 0;
    left: -10px;
}

.s-column-caption {
    font-size: 0.76rem;
    text-align: center;
    margin-top: 20px;
    text-align: left;
}
.s-column-col.image:first-child .s-column-caption {
    /*padding-left: 15px; */
}
.s-column-col.image .s-column-caption {
    padding-left: 15px;   
}

/* If the text and image is being swapped, the margin top needs to be removed for last child */
.s-column.col-1-text.col-2-image .s-column-col:last-child {
    margin-top: 0!important;
}

.s-column.col-1-text.col-2-image .image {
    order: 1;
}

.s-column.col-1-text.col-2-image .text {
    order: 2;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .s-column {
        --colPadding: 120px;
    }
}

@media (max-width: 1023px) {
    .s-column-col.image img {
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .s-column {
        flex-direction: row;
    }
    .s-column-col {
        flex: 1;
    }
    .s-column-col:last-child {
        margin-top: 0;
    }
    .s-column-col img {
        width: 100%;
    }
    .s-column-col.image.padded {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .s-column-col.image.padded .s-column-caption {
        min-width: 500px;
    }
    .s-column-col.image.padded img {
        max-width: 500px;
    }
    .s-column-col.text>* {
        max-width: 550px;
    }
    .s-column.col-1-text.col-2-image .image {
        order: 2;
    }
    
    .s-column.col-1-text.col-2-image .text {
        order: 1;
    }
    /* Col 1 specific styles --------------- */
    .s-column-col:first-child.text {
        padding-right: var(--colPadding);
    }
    .s-column-col.text.style-1:first-child.text>*, .s-column-col:first-child.padded img, .s-column-col:first-child.image.padded .s-column-caption {
        margin-left: auto;
    }
    /* Col 2 specific styles --------------- */
    .s-column-col:last-child.text {
        padding-left: var(--colPadding);
    }
    .s-column-col:last-child.text>*, .s-column-col:last-child.padded img, .s-column-col:last-child.image.padded {
        margin-right: auto;
    }
    /* ------------------------------------- */
    /* Font size as per illustrator: 22.23 pt ~ 29 px ~ 1.8125 rem  */
    .s-column-col.text div {
        font-size: 1.4rem;
        line-height: 2.36em;
    }
    .s-column-col.text.style-1 div::before {
        top: -10px;
        left: -10px;
    }
    .s-column-caption {
        text-align: left;
        margin-top: 80px;
        margin-left: 0;
    }
    .s-column-col.image .s-column-caption {
        margin-top: 10px;
        padding-left: 20px;
    }
}

/* Style 2 for Column section ---------------------------------------------- */

.s-column-col.text.style-2 {
    text-align: center;
}

.s-column-col.text.style-2.text>*, .s-column-col.text.style-2.padded img {
    margin-left: auto;
    margin-right: auto;
}

.s-column-col.text.style-2 h2 {
    position: relative;
    font-size: 1.12rem;
    font-weight: 400;
    margin-bottom: 50px;
    color: black;
    background: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}

.s-column-col.text.style-2 h2::after {
    content: "";
    position: absolute;
    top: 125%;
    left: 50%;
    height: 1px;
    width: 16px;
    background-color: black;
    transform: translateX(-50%);
}

.s-column-col.text.style-2 div {
    font-family: 'Freight Big Book';
    font-size: 1.12rem;
    text-transform: none;
}

@media (min-width: 1024px) {
    .col-1-image.col-2-image .s-column-col:first-child {
        margin-right: 50px;
    }
    .col-1-image.col-2-image .s-column-col:last-child {
        margin-left: 50px;
    }
}