.section-contact {
    --paddingY: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
}

.contact-inner {
    color: #fff;
    text-align: center;
    width: 550px;
    max-width: 100%;
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    padding-left: 20px;
    padding-right: 20px;
}

.contact-heading {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.contact-subtitle {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.contact-section {
    font-family: 'Swiss 721';
    font-size: 0.625rem;
    text-align: left;
}

.contact-section-label {
    margin-bottom: 10px;
}

.contact-section:not(:last-child) {
    margin-bottom: 30px;
}

.contact-lines, .contributors {
    display: flex;
}

.contact-line, .contributor {
    flex: 1;
}

.contributor img {
    margin: 0 auto;
}

.contact-line a {
    color: inherit;
}

@media (min-width: 768px) {
    .contact-section {
        display: flex;
    }
    .contact-section-label {
        width: 33.333%;
    }
    .contact-lines, .contributors {
        flex: 1;
    }
    .contact-section:not(:last-child) {
        margin-bottom: 50px;
    }
}

@media (min-width: 1024px) {
    .section-contact {
        --paddingY: 60px;
    }
}

/* FORM */

div.wpcf7 {
    margin: 30px 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row:not(:first-child) {
    margin-top: 15px;
}

.wpcf7-form-control-wrap {
    flex: 1;
}

.wpcf7-form-control-wrap.source {
    margin: 15px 0;
}

.wpcf7-list-item label {
    display: flex;
    align-items: center;
}

.wpcf7-list-item-label {
    margin-left: 10px;
}

.form-row input[type=text], .form-row input[type=email], .form-row input[type=tel], .form-row select {
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    font-family: 'Swiss 721';
    font-size: 0.625rem;
    padding: 6px 0;
    width: 100%;
}

.form-row select option {
    color: #000;
}

.form-row input::placeholder {
    color: inherit;
    font: inherit;
}

.checkbox-label {
    font-family: 'Swiss 721';
    font-size: 0.625rem;
}

.contact-legend {
    font-family: 'Swiss 721';
    font-size: 0.625rem;
    text-transform: none;
}

.wpcf7-submit {
    background-color: rgb(25, 42, 25);
    padding: 8px 12px;
}

.ajax-loader {
    display: none!important;
}

@media (min-width: 768px) {
    div.wpcf7 {
        margin: 50px 0;
    }
    .wpcf7-form-control-wrap.interests {
        display: flex;
        justify-content: flex-end;
    }
}

/* POPUP */

.popup-contact {
    --paddingY: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: var(--secondary);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    -moz-transition: -moz-transform 0.4s ease-in-out;
    -o-transition: -o-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

@media (max-height: 767px) {
    .popup-contact .contact-inner {
        height: 100%;
    }
}

.popup-contact.active {
    transform: none;
    pointer-events: all;
    opacity: 1;
}

.popup-contact-close {
    position: absolute;
    top: 20px;
    right: 20px;
}