.s-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

.s-text.uppercase {
    max-width: 740px;
}

.s-text.left {
    text-align: left;
}

.s-text.center {
    text-align: center;
}

.s-text.right {
    text-align: right;
}

.s-text-text {
    font-family: 'Freight Big Book';
    font-size: 1.625rem;
    text-transform: none;
}

.s-text.uppercase .s-text-text {
    font-family: 'Cosi Times';
    font-size: 1.25rem;
    text-transform: uppercase;
}